page-home {
    .temp {
        font-size: 50px;
        font-weight: bold;
    }
    .details {
        margin-top: 20px;
        
    }
    .details-column {
        border-style: solid;
        border-width: 1px 1px 0px 1px;        
    }
    .geo-coords {
        border-style: solid;
        border-width: 1px 1px 1px 1px;                
    }
}
